@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply font-body antialiased text-anthropic-black bg-cream;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headings;
  }
}